@import url(https://fonts.googleapis.com/css?family=Pacifico);

Body{
  background-image: url("postcard.jpg");
  background-size: cover;
  color:white;
  padding:40px;
  font-weight:100;
  background-repeat:no-repeat;
}

h1{
  font-size:72px;
   font-family:Pacifico;
  padding-bottom:350px;
  font-weight:100;
  text-align:right;
}
h2{
 font-weight:100;
}
