body{
  background-color:black;
  text-align:center;
}

h1{
  font-family:serif;
  color:rgb(255, 31, 78);
  font-size:140px;
  font-weight:normal;
  text-decoration: underline;
  line-height:120%;
  margin-bottom:10px;
}

h2{
  font:tagline;
  font-family:monospace;
  color:gold;
  font-size:330%;
  margin-top:0;
}
