@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

/* This bit you can't change. */
body {
  width: 605px;
  margin: 20px;
  font-family: 'Shadows Into Light';
  color: rgb(80, 80, 80);
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

/* Override heading and span styles here. */

h1{
  font-family:Fredericka the Great;
  font-size:2.5em;
}

h2{
  border-bottom:1px solid black;
}

h1, h3, span{
  color:#b87735;
}

div {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}
