h1{
  background-color:rgb(215, 215, 215);
  margin:0;
  text-align:center;
  color:rgb(110, 80, 95);
  font-weight:200;
  font-size:400%;
}

h2{
  text-align:center;
  color:rgb(110, 80, 95);
  font-weight:200;
  text-decoration: overline;
  font-size:30px;
}

p{
  margin:60px auto;
  width:120px;
  font-weight:400;
  font-size:120%;
  line-height:200%;
  text-align:right;
  color:rgb(110, 80, 95);
}

img{
width:100%;
}
