img{
  width:800px;
  border:61px;
  border-top: 61px solid rgb(122, 117, 108);
  border-right: 61px solid rgb(80, 70, 61);
  border-left: 61px solid rgb(80, 70, 61);
  border-bottom: 61px solid rgb(42, 36, 30);
  margin:10px 0;
}

body{
  text-align:center;
}
